/*滚动条样式*/
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset005pxrgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset005pxrgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

$blue: #48b0f7;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

@mixin colorBtn($color) {
  background: $color;

  &:hover {
    color: $color;

    &:before,
    &:after {
      background: $color;
    }
  }
}

.blue-btn {
  @include colorBtn($blue);
}

.light-blue-btn {
  @include colorBtn($light-blue);
}

.red-btn {
  @include colorBtn($red);
}

.pink-btn {
  @include colorBtn($pink);
}

.green-btn {
  @include colorBtn($green);
}

.tiffany-btn {
  @include colorBtn($tiffany);
}

.yellow-btn {
  @include colorBtn($yellow);
}

.pan-btn {
  font-size: 14px;
  color: #fff;
  padding: 14px 36px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-right: 25px;
  transition: 600ms ease all;
  position: relative;
  display: inline-block;

  &:hover {
    background: #fff;
    cursor: pointer;

    &:before,
    &:after {
      width: 100%;
      transition: 600ms ease all;
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    transition: 400ms ease all;
  }

  &::after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
}

.custom-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
}

/* reset */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:active {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  outline: none;
  color: inherit;
}
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
button,
select,
textarea {
  outline: none;
}
body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  font-family: PingFangSC-Regular, "Microsoft Yahei UI", Arial, Helvetica,
    sans-serif;
}
/*input为空，默认文字样式*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccc;
}
input.toUpperCase {
  text-transform: uppercase;
}
input[type="date"]::before {
  float: left;
  content: attr(placeholder);
  color: #999;
}
button {
  cursor: pointer;
}

/*手机端不可长按选中*/
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*去除默认样式*/
.noappearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
/*单行省略......*/
.textEllipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*单行文本整行*/
.textJustify {
  display: inline-block;
  text-align: justify;
  overflow: hidden;
  vertical-align: middle;
  white-space: normal;
}
.textJustify:after {
  content: "";
  display: inline-block;
  width: 100%;
  overflow: hidden;
  height: 0;
}
/*清除浮动*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.overflow_hidden {
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.clickActive:active {
  background: #f2f2f2;
}
.box_content {
  box-sizing: content-box;
}

/*类型*/
.hide {
  display: none;
}
vv .block {
  display: block;
}
.inline {
  display: inline;
}
.inline_block {
  display: inline-block;
}
.visibility_hide {
  visibility: hidden;
  opacity: 0;
  filter: opacity(0);
}
.input_hide {
  visibility: hidden;
  opacity: 0;
  filter: opacity(0);
  width: 0;
  height: 0;
  float: left;
}

/*Flex布局*/
.flex_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
}

.flex_column {
  flex-direction: column;
}

.items_center {
  align-items: center;
}
.flex_1 {
  display: flex;
  flex: 1;
}
.flex_column {
  flex-direction: column;
}
.flex_grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.flex_grow_2 {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -moz-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}
.flex_0 {
  flex-shrink: 0;
}
.flex_wrap {
  flex-wrap: wrap;
}
.flex_reverse {
  flex-direction: row-reverse;
}
.space_around {
  justify-content: space-around;
}
.space_between {
  justify-content: space-between;
}
.justify_center {
  justify-content: center;
}

.justify_end {
  justify-content: flex-end;
}

.align_center {
  align-content: center;
}

.align_end {
  align-content: flex-end;
}

.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*定位*/
.relative {
  position: relative;
}
.relative_lt {
  position: relative;
  left: 0;
  top: 0;
}
.absolute {
  position: absolute;
}
.absolute_lt {
  position: absolute;
  left: 0;
  top: 0;
}
.absolute_lb {
  position: absolute;
  left: 0;
  bottom: 0;
}
.absolute_rt {
  position: absolute;
  right: 0;
  top: 0;
}
.absolute_rb {
  position: absolute;
  right: 0;
  bottom: 0;
}
.absolute_center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.absolute_t_center {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}
.absolute_b_center {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.fixed {
  position: fixed;
}
.fixed_lt {
  position: fixed;
  left: 0;
  top: 0;
}
.fixed_lb {
  position: fixed;
  left: 0;
  bottom: 0;
}
.fixed_rt {
  position: fixed;
  right: 0;
  top: 0;
}
.fixed_rb {
  position: fixed;
  right: 0;
  bottom: 0;
}
.fixed_xy {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.opacity0 {
  filter: opacity(0);
  opacity: 0;
}
.opacity50 {
  filter: opacity(50);
  opacity: 0.5;
}
.opacity80 {
  filter: opacity(80);
  opacity: 0.8;
}

.font_size0 {
  font-size: 0px;
}
.font_size10 {
  font-size: 10px;
}
.font_size12 {
  font-size: 12px;
}
.font_size14 {
  font-size: 14px;
}
.font_size15 {
  font-size: 15px;
}
.font_size16 {
  font-size: 16px;
}
.font_size17 {
  font-size: 17px;
}
.font_size18 {
  font-size: 18px;
}
.font_size19 {
  font-size: 19px;
}
.font_size20 {
  font-size: 20px;
}
.font_size22 {
  font-size: 22px;
}
.font_size24 {
  font-size: 24px;
}
.font_size25 {
  font-size: 25px;
}
.font_size26 {
  font-size: 26px;
}
.font_size27 {
  font-size: 27px;
}
.font_size28 {
  font-size: 28px;
}
.font_size30 {
  font-size: 30px;
}
.font_size32 {
  font-size: 32px;
}
.font_size35 {
  font-size: 35px;
}
.font_size36 {
  font-size: 36px;
}
.font_size40 {
  font-size: 40px;
}
.font_size45 {
  font-size: 45px;
}
.font_size46 {
  font-size: 46px;
}
.font_size50 {
  font-size: 50px;
}
.font_size55 {
  font-size: 55px;
}
.font_size60 {
  font-size: 60px;
}
.font_size70 {
  font-size: 70px;
}
.font_size75 {
  font-size: 75px;
}
.font_size80 {
  font-size: 80px;
}
.font_size100 {
  font-size: 100px;
}

.color_40 {
  color: #40c9c6;
}

.color_36 {
  color: #36a3f7;
}

.color_f4 {
  color: #f4516c;
}

.color_444 {
  color: #444;
}
.color_4d {
  color: #4d4d4d;
}
.color_666 {
  color: #666;
}
.color_80 {
  color: #808080;
}
.color_999 {
  color: #999;
}
.color_99B {
  color: #959bb3;
}
.color_ddd {
  color: #ddd;
}
.color_ca {
  color: #cacaca;
}
.color_fff {
  color: #fff;
}
.color_orange {
  color: #ffaf22;
}
.color_red {
  color: $red;
}

.bc_333 {
  background-color: #333;
}
.bc_4d {
  background-color: #4d4d4d;
}

.bc_f2 {
  background-color: #f2f2f2;
}
.bc_fc {
  background-color: #fcfcfc;
}
.bc_fff {
  background-color: #fff;
}
.background_black20 {
  background-color: rgba(0, 0, 0, 0.2);
}
.background_black50 {
  background-color: rgba(0, 0, 0, 0.5);
}
.background_black60 {
  background-color: rgba(0, 0, 0, 0.6);
}
.background_black80 {
  background-color: rgba(0, 0, 0, 0.8);
}
.background_1a {
  background-color: rgb(26, 26, 26);
}
.bc_orange {
  background-color: #ffaf22;
}
.background_80 {
  background-color: #808080;
}
.background_335 {
  background-color: #363b50;
}
.background_cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

button.background_orange:active {
  background-color: #dc8e04;
}
button.background_1a:active {
  background-color: rgba(26, 26, 26, 0.7);
}

.w_100 {
  width: 100%;
}
.w_80 {
  width: 80%;
}
.w_50 {
  width: 50%;
}
.w_33 {
  width: 33.33%;
}
.w_25 {
  width: 25%;
}
.w_20 {
  width: 20%;
}
.w_18 {
  width: 18%;
}
.w_10 {
  width: 10%;
}

.h_100 {
  height: 100%;
}
.vh_100 {
  height: 100vh;
}

.vw_100 {
  width: 100vw;
}
.vh_100 {
  height: 100vh;
}
.wh_100 {
  width: 100vw;
  height: 100vh;
}

.mx_auto {
  margin-left: auto;
  margin-right: auto;
}
.mx_20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mx_36 {
  margin-left: 36px;
  margin-right: 36px;
}
.mx_60 {
  margin-left: 60px;
  margin-right: 60px;
}
.mx_100 {
  margin-left: 100px;
  margin-right: 100px;
}
.my_20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.my_30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.my_60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.mt_10 {
  margin-top: 10px;
}
.mt_15 {
  margin-top: 15px;
}
.mt_20 {
  margin-top: 20px;
}
.mt_25 {
  margin-top: 25px;
}
.mt_30 {
  margin-top: 30px;
}
.mt_35 {
  margin-top: 35px;
}
.mt_40 {
  margin-top: 40px;
}
.mt_50 {
  margin-top: 50px;
}
.mt_60 {
  margin-top: 60px;
}
.mt_100 {
  margin-top: 100px;
}
.mt_200 {
  margin-top: 200px;
}
.mb_5 {
  margin-bottom: 5px;
}
.mb_10 {
  margin-bottom: 10px;
}
.mb_15 {
  margin-bottom: 15px;
}
.mb_20 {
  margin-bottom: 20px;
}
.mb_25 {
  margin-bottom: 25px;
}
.mb_30 {
  margin-bottom: 30px;
}
.mb_35 {
  margin-bottom: 35px;
}
.mb_40 {
  margin-bottom: 40px;
}
.mb_50 {
  margin-bottom: 50px;
}
.mb_60 {
  margin-bottom: 60px;
}
.mb_80 {
  margin-bottom: 80px;
}
.mb_100 {
  margin-bottom: 100px;
}
.mb_200 {
  margin-bottom: 200px;
}

.ml_auto {
  margin-left: auto;
}
.ml_0 {
  margin-left: 0;
}
.ml_25 {
  margin-left: 25px;
}
.ml_50 {
  margin-left: 50px;
}
.mr_auto {
  margin-right: auto;
}
.mr_5 {
  margin-right: 5px;
}
.mr_10 {
  margin-right: 10px;
}
.mr_15 {
  margin-right: 15px;
}
.mr_20 {
  margin-right: 20px;
}
.mr_25 {
  margin-right: 25px;
}
.mr_30 {
  margin-right: 30px;
}
.mr_40 {
  margin-right: 40px;
}
.mr_50 {
  margin-right: 50px;
}
.mr_60 {
  margin-right: 60px;
}

.px_10 {
  padding-left: 10px;
  padding-right: 10px;
}
.px_15 {
  padding-left: 15px;
  padding-right: 15px;
}
.px_20 {
  padding-left: 20px;
  padding-right: 20px;
}
.px_25 {
  padding-left: 25px;
  padding-right: 25px;
}
.px_30 {
  padding-left: 30px;
  padding-right: 30px;
}
.px_35 {
  padding-left: 35px;
  padding-right: 35px;
}
.px_40 {
  padding-left: 40px;
  padding-right: 40px;
}
.px_45 {
  padding-left: 45px;
  padding-right: 45px;
}
.px_50 {
  padding-left: 50px;
  padding-right: 50px;
}
.px_100 {
  padding-left: 100px;
  padding-right: 100px;
}

.py_5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.py_8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py_10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py_12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py_15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.py_20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py_23 {
  padding-top: 23px;
  padding-bottom: 23px;
}
.py_30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.py_35 {
  padding-top: 35px;
  padding-bottom: 35px;
}
.py_45 {
  padding-top: 45px;
  padding-bottom: 45px;
}
.py_50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.py_60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.py_70 {
  padding-top: 80px;
  padding-bottom: 70px;
}
.py_80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.py_100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.pt_5 {
  padding-top: 5px;
}
.pt_10 {
  padding-top: 10px;
}
.pt_15 {
  padding-top: 15px;
}
.pt_20 {
  padding-top: 20px;
}
.pt_25 {
  padding-top: 25px;
}
.pt_30 {
  padding-top: 30px;
}
.pt_40 {
  padding-top: 40px;
}
.pt_65 {
  padding-top: 65px;
}
.pt_80 {
  padding-top: 80px;
}
.pt_100 {
  padding-top: 100px;
}
.pt_150 {
  padding-top: 150px;
}
.pb_10 {
  padding-bottom: 10px;
}
.pb_15 {
  padding-bottom: 15px;
}
.pb_20 {
  padding-bottom: 20px;
}
.pb_25 {
  padding-bottom: 25px;
}
.pb_30 {
  padding-bottom: 30px;
}
.pb_40 {
  padding-bottom: 40px;
}
.pb_50 {
  padding-bottom: 50px;
}
.pb_60 {
  padding-bottom: 60px;
}
.pb_80 {
  padding-bottom: 80px;
}
.pb_100 {
  padding-bottom: 100px;
}
.pb_140 {
  padding-bottom: 140px;
}

.pl_20 {
  padding-left: 20px;
}
.pl_40 {
  padding-left: 40px;
}
.pl_45 {
  padding-left: 45px;
}
.pl_100 {
  padding-left: 100px;
}

.pr_20 {
  padding-right: 20px;
}

.pr_50 {
  padding-right: 50px;
}
.pr_80 {
  padding-right: 80px;
}
.pr_100 {
  padding-right: 100px;
}

.line_height12 {
  line-height: 1.2;
}
.line_height15 {
  line-height: 1.5;
}
.line_height18 {
  line-height: 1.8;
}
.line_height20 {
  line-height: 2;
}

.text_left {
  text-align: left;
}
.text_justify {
  text-align: justify;
}
.text_center {
  text-align: center;
}
.text_right {
  text-align: right;
}
.text_underline {
  text-decoration: underline !important;
}
.line_through {
  text-decoration: line-through !important;
}

.font_bold {
  font-weight: bold;
}

.font_bolder {
  font-weight: bolder;
}
.font_normal {
  font-weight: normal;
}
.font_lighter {
  font-weight: lighter;
}

// 11这个需要看一下；
.vertical_middle {
  vertical-align: middle;
}
.vertical_tBottom {
  vertical-align: text-bottom;
}
.line_nowrap {
  white-space: nowrap;
}
.line_wrap {
  word-break: break-all;
}
.vertical_center {
  display: table-cell;
  vertical-align: middle;
}
.vertical_flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.border_50 {
  border-radius: 50%;
}
.border_b_d2 {
  border-bottom: 1px solid #d2d2d2;
}

.border_b_F0 {
  border-bottom: 1px solid #F0F0F0;
}

.border_b_80 {
  border-bottom: 1px solid #808080;
}
.border_xy_4d {
  border: 1px solid #4d4d4d;
}
.border_xy_orange {
  border: 1px solid #ffaf22;
}
.border_xy_d2 {
  border: 1px solid #d2d2d2;
}
.border_xy_666 {
  border: 1px solid #666666;
}
.border_radius_2 {
  border-radius: 2px;
}
.border_radius_4 {
  border-radius: 4px;
}
.border_radius_6 {
  border-radius: 6px;
}

.btn_orange {
  cursor: pointer;
  background-color: #ffaf22;
  color: #fff;
  border-radius: 2px;
}
.btn_orange:active {
  background-color: #eaa11f;
}
.btn_orange:disabled {
  background-color: #999;
}
.btn_black {
  cursor: pointer;
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 2px;
}
.btn_black:active {
  background-color: #424242;
}
.btn_white {
  cursor: pointer;
  background-color: #ffffff;
  color: #4d4d4d;
  border-radius: 2px;
}
.btn_white:active {
  background-color: #efefef;
}
.text_shadow_1 {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
.box_shadow_1 {
  box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.15);
}
.box_shadow_2 {
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.1);
}
.box_shadow_3 {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.hover_boxshadow {
  transition-property: box-shadow;
  transition-duration: .3s;
  cursor: pointer;
  &:hover {
    box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.15);
  }
}
